<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lugares/tabs/ofertas"></ion-back-button>
    </ion-buttons>
    <ion-title>nueva-oferta</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateOffer()" [disabled]="!form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="form">
      <ion-grid>

        <ion-row>
          <ion-col size="6" offet-sm="3">
            <ion-item>
              <ion-label position="floating">Descripcion</ion-label>
              <ion-textarea rows="3" formControlName="descripcion"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('descripcion').valid && form.get('descripcion').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p>Descripcion debe ser menor que 180 caracteres y mayor a 0</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Precio</ion-label>
              <ion-input type="number" formControlName="precio"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Desde</ion-label>
              <ion-datetime min="2020-10-20" max="2020-10-31" formControlName="desde"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Hasta</ion-label>
              <ion-datetime min="2020-10-20" max="2020-10-31" formControlName="hasta"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="3" offset-sm = "3">
            <app-location-picker></app-location-picker>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    
</ion-content>